<p id="notice"><%= notice %></p>

<%= image_tag "Spy1.png", :width => 75, :height => 75 %><h2>Welcome, <%=current_user.name%>!</h2>

<h1>Artists Following</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>On tour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.on_tour %></td>
        <td><%= link_to 'Show', artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'form' %><br>


<h3>Check out these upcoming events in <%=current_user.location%>:</h3>

<br>

<ul>
 <% @events.each do |event| %>
  <li><a href="<%=event.artists.first.bandsintown_url%>"><%=event.artists.first.name %></a> -- <%= event.venue.name %> -- <strong><%= event.datetime.strftime("%l%p, %A, %B %d") %></strong> --

  <% if event.ticket_status == 'unavailable' %>
  <%= 'No tickets available' %>
  <% else event.ticket_status == 'available' %>
  <%= link_to event.ticket_url do %>
    Tickets
    <% end %>
  <% end %></li>



<br>

<% end %>


<%= link_to 'Follow New Artist', new_artist_path %>


